/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}



.brand-logo{
  margin-top: 10px;
}
p {
  line-height: 2rem;
  font-size: 18px;
}

.sidenav-trigger {
  color: #26a69a;
}
h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 110px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
    color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow:
      4px 4px 0px #d5d5d5,
      7px 7px 0px rgba(0, 0, 0, 0.2);
}

h2 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  color: #2c2c2c;
  letter-spacing: .05em;
  text-shadow:
    4px 4px 0px #d5d5d5,
    7px 7px 0px rgba(0, 0, 0, 0.2);
}
.alert {
  text-align: center;
  padding: 10px;
  background: red;
  color: white;
  margin-bottom: 10px;
  display: none;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

  li a {
    font-size: 19px;
    color: white;
  }

  #profilePic {
    width: 350px;
    height: 350px;
  }

  #email {
    width: 363px;
    margin-left: 1px;
  }
/* 
  Mdeia for moblie, tablet, labotop and desktop. */

  @media only screen and (max-width : 1511px) {
    #portlay{
      margin: 0 auto;
      max-width: 1280px;
      width: 90%;
    }

    }


  @media only screen and (max-width : 1829px) {
    .card{
      width: 500px;
      height: 500px;

    }

    }
    @media only screen and (max-width : 1300px) {
      #portlay{
        margin: 0 auto;
        max-width: 1280px;
        width: 90%;
      }
  
      }
      @media only screen and (max-width : 1165px) {
        #portlay{
          margin: 0 auto;
          max-width: 1280px;
          width: 90%;
        }
        #portSizeCol {
          
        }
    
        }


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 700px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

@media only screen and (max-device-width: 996px) {
  h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 45px;
    margin: 0;
    padding-top:1px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
      color: #2c2c2c;
      letter-spacing: .05em;
      text-shadow:
        4px 4px 0px #d5d5d5,
        7px 7px 0px rgba(0, 0, 0, 0.2);
  }
}
