/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 body ::after {
   background: blue lighten-2;
 }
 .z-depth-3{
   background: white;
 }

nav ul a,
nav .brand-logo {
  color: #444;
}



.brand-logo{
  margin-top: 10px;
}
p {
  line-height: 2rem;
  font-size: 18px;
}

.sidenav-trigger {
  color: #26a69a;
}
h1 {
  font-family: 'Arvo', serif;
  font-size: 100px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
    color: navajowhite;
    letter-spacing: .05em;
}

h2 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  color: #2c2c2c;
  letter-spacing: .05em;
  
}
.alert {
  text-align: center;
  padding: 10px;
  background: red;
  color: white;
  margin-bottom: 10px;
  display: none;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

  li a {
    font-size: 19px;
    color: white;
  }

  #profilePic {
    width: 350px;
    height: 350px;
  }

  #email {
    width: 363px;
    margin-left: 1px;
  }


  /* Making the portfolio cards smaller to fit screen better */
  
/* 
  Mdeia for moblie, tablet, labotop and desktop. */


@media only screen and (max-width : 700px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

@media only screen and (max-device-width: 996px) {
  h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 45px;
    margin: 0;
   
    top: 80px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
  }
}
